body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Light background for contrast */
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 90vh; /* Use viewport height for width to maintain aspect ratio */
  height: 90vh; /* Almost full height */
  border: 1px solid lightgray; /* Outer border */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#grid-container div {
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.blocked {
  background-color: black;
}

.path {
    background-color: red;
}